*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: #bcbcbc;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}
.App {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}
h1 {
  font-weight: 300;
  color: #44c0b6;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.input-wrapper {
  margin: 3.5rem;
}
.todos-wrapper {
  margin-bottom: 2.5rem;
}
.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
input {
  width: 450px;
  padding: 0.8em;
}
input:focus {
  outline: none;
}
button {
  width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}
input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}
.add-button {
  color: #44c0b6;
  border-left: none;
}
.add-button:hover {
  color: #252525;
  background: #44c0b6;
}
.delete-button {
  color: #fe6a6a;
}
.delete-button:hover {
  color: #252525;
  background: #fe6a6a;
}
ul {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
li {
  width: 450px;
  padding: 0.85em;
  text-align: left;
  margin-bottom: 0.5rem;
  background: #494847;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #cf972e;
}
li:last-child {
  margin-bottom: 0px;
}
.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}
